<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TVHS</title>
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/bootstrap.min.css")
    @Scripts.Render("~/Scripts/modernizr-2.6.2.js")
    @Scripts.Render("~/Scripts/jquery-1.11.2.min.js");
    @Scripts.Render("~/Scripts/bootstrap.min.js");
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TVHS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - nqt900</p>
        </footer>
    </div>
    
</body>
</html>