@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <br />
        @Html.ActionLink("Product", "Index", "Product")
        <br/>
        @Html.ActionLink("Program", "Index", "Program")
        <br />
        @Html.ActionLink("Schedule", "Index", "Schedule")
        <br />
        @Html.ActionLink("Sale", "Index", "Sale")
        <br />
        @Html.ActionLink("Predit product quantity", "Index", "Prediction")
        <br />
        @Html.ActionLink("Make schedule", "Index", "MakeSchedule")
        <br />
        @Html.ActionLink("Case study", "Index", "CaseStudy")
    </div>
</body>
</html>
